.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
        color: #f96332;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading h3{
	    color: #f96332;
}

.panel-body {
    padding: 15px;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 5px;
    margin-bottom: -1px;
    background-color: #fff;
}

.product_cont {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px 20px 30px;
    background: rgba(39, 45, 51, 0.7);
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.product_cont_custom {
	top: 0px;
	bottom: unset;
	padding: 20px 5px 20px 30px;
}

.product_cont_custom p span{
	display: block;
}

.product_cont_custom p span b{
	color: rgb(255, 255, 102);
}

.product_cont_custom .anchor-contact {
    position: absolute;
    right: 10px;
}

.product_cont_custom .anchor-contact:nth-last-child(1) {
    position: absolute;
    right: 37px;
}

.product_cont_custom .anchor-contact img{
	height: 22px;
}


.product_cont_custom .anchor-contact:hover {
    transform: rotate(-360deg);
}

.product {
	background-position: center;	
	background-size: cover;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;	
}

.search-input {
	    position: absolute;
    border-bottom: 1px solid black;
    width: 300px;
    right: 0;
    padding: 4px;
    background: wheat;
    z-index: 1;
}

.blink_me {
  animation: blinker 1s linear infinite;
   color: #f96332;
}

.wave_me {
  animation: animated_div 1s linear infinite;
}

@keyframes blinker {  
  25% { opacity: .75; color: rgb(255, 255, 102); }
  75% { opacity: .95; color: rgb(255, 255, 102); }
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(10deg);}
/* 50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;} */
70% {transform: rotate(-5deg);}
/* 100% {transform: rotate(-360deg);left:0px;} */
}

@-webkit-keyframes animated_div
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:500px;}
55% {-webkit-transform: rotate(0deg);left:500px;}
70% {-webkit-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:500px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}

.socialBtns {
    position: fixed;
    z-index: 11;
    margin-top: 145px;
}

.socialBtns ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.socialBtns ul li {
    margin: 0;
    padding: 0;
    height: 48px;
    width: 48px;
}

.socialBtns ul li a {
    display: block;
    line-height: normal;
    height: 48px;
    width: 48px;
    margin: 0;
}


