.panel {
    margin-bottom: 31px;
    background-color: #fff;
    border: 1px solid rgb(31, 73, 125);
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
        color: rgb(31, 73, 125);
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: rgb(31, 73, 125);
    border-color: #ddd;
    font: 400 28px/48px "Montserrat", sans-serif;
}

.panel-heading {
    padding: 0px 15px;
    border-bottom: 1px solid rgb(31, 73, 125);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-heading h3{
	    color: #f96332;
}

.panel-body {
	padding: 6px 15px;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 5px;
    margin-bottom: -1px;
    background-color: #fff;
}

.product_cont {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px 20px 20px;
    background: rgba(39, 45, 51, 0.7);
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.product_cont_mode p {
	max-height: 52px;
	overflow: hidden;
}

.product_cont:hover p {
	max-height: 100%;
	overflow: auto;
}

.product_cont_custom {
	top: 0px;
	bottom: unset;
	padding: 20px 5px 20px 30px;
}

.product_cont_custom p span{
	display: block;
}

.product_cont_custom p span b{
	color: rgb(255, 255, 102);
}

.anchor-contact {
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.anchor-contact:nth-last-child(1) {
    position: absolute;
    right: 60px;
}

.anchor-contact img{
	height: 40px;
}


.anchor-contact:hover {
    /* transform: rotate(-360deg); */
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.product {
	background-position: center center;
}

.bg-cover {
	background-size: cover;
}

.bg-contain {
	background-size: contain;
}

.bg-100p{
    transition:all 1000ms ease;
    background-size: 100% auto;
}

.bg-100p:hover{
	background-size: 160% auto;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;	
}

.search-input {
	position: absolute;
    border-bottom: 1px solid black;
    width: 300px;
    right: 0;
    padding: 4px;
    background: wheat;
    z-index: 1;
}

.blink_me {
  /* animation: blinker 1s linear infinite; */
   color: red;
   font-weight: bold;
}

.wave_me {
  animation: animated_div 1s linear infinite;
}

@keyframes blinker {  
  25% { opacity: .85; color: red; }
  75% { opacity: .95; color: red; }
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(10deg);}
/* 50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;} */
70% {transform: rotate(-5deg);}
/* 100% {transform: rotate(-360deg);left:0px;} */
}

@-webkit-keyframes animated_div
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:500px;}
55% {-webkit-transform: rotate(0deg);left:500px;}
70% {-webkit-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:500px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}

.socialBtns {
    position: fixed;
    z-index: 11;
    margin-top: 145px;
}

.socialBtns ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.socialBtns ul li {
    margin: 0;
    padding: 0;
    height: 48px;
    width: 48px;
}

.socialBtns ul li a {
    display: block;
    line-height: normal;
    height: 48px;
    width: 48px;
    margin: 0;
}

.online-support {
    background-size: 58px 58px;
    background-repeat: no-repeat;
    background-position: top left;
}

.online-support h4 span{
	display: block;
	padding-left: 62px;
}

.ul-social li a:hover {
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.statistic-request {
    background-size: 15px 16px;
    background-repeat: no-repeat;
    background-position: 0px 4px;
}

.statistic-request span {
	display: block;
    padding: 0px 32px;
}

.stuck_container_custom {
	background-color: #004b80;
	background-color: rgb(55, 96, 145);
}

.stuck_container_custom h1, .stuck_container_custom h5, .stuck_container_custom li a {
	color: white;
}

.stuck_container_custom li a:hover {
    color: white;
}

.stuck_container_custom li.active a {
    color: #c1bfbf;
    font-weight: 600;
}

footer .icon-xs {
    margin-right: 6px;
}

.box .img {
	margin: 30px 0 40px;
    width: 100%;
    height: 365px;
    background-position: center center;
    background-size: 100% auto;
    position: relative;
    background-repeat: no-repeat;
}

.box .img a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#olark-wrapper .olark-launch-button {
    background-color: rgb(31, 73, 125) !important;
}

.benefit {
    background: #f3f1f1;
    font-size: 0;
    margin-bottom: 30px;
    padding-top: 10px;
}

.benefit .item {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    padding: 15px 20px;
}

@media (min-width: 640px){
	.benefit .item {
	    width: 50%;
	}
}

@media (min-width: 992px){
	.benefit .item {
	    width: 25%;
	}
}

.benefit .item .image {
    margin: 5px 15px 0 0;
    float: left;
    height: 90px;
}

.benefit .item .text h4 {
    font-size: 16px;
    color: #00b7f1;
    font-weight: 700;
    margin-top: 0;
}

.benefit .item .text p {
    margin-bottom: 0;
    margin-top: 0px;
    line-height: 16px;
    font-size: 12px;
}

.benefit .item .image {
    margin: 5px 15px 0 0;
    float: left;
    height: 90px !important;
    width: auto !important;
}

.benefit .item .image img {
    height: auto !important;
    width: auto !important;
    margin: auto;
}

table.listjob {
	border-collapse: collapse;
}

table.listjob th {
    text-align: center;
    padding: 2px 25px 2px 25px;
    border: 1px solid rgb(31, 73, 125);
    font-size: 1.2em;
    font-weight: 400;
    background: rgb(31, 73, 125);
    color: #FFFFFF;
}

table.listjob td {
    padding: 5px 18px;
    border: 1px solid rgb(31, 73, 125);
    text-align: center;
}

.national-flag {
	width: 26px;
	height: 18px;
    margin-top: 2px;
    border: thin solid silver;
}

.no-all-padding {
	padding: 0px;
}

.bg-shadow {
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.bg-shadow a {
	background: none;
}

.bg-shadow a h3 {
	color: rgb(31, 73, 125);
}

.nav-search {
	position: relative;
}

.nav-search input {
	padding: 0px 5px;
    border: thin solid grey !important;
    line-height: 24px;
    border-radius: 10px !important;
    margin-top: 10px;
}

.nav-search i {
	position: absolute;
    color: silver;
    right: 6px;
    top: 10px;
}

.top-header {
	background-color: #1f292e;
}

.top-header .brand {
    color: #ff9800;
}

.top-header .brand_name {
    color: #ff9800;
    font: 700 30px/57px "Open Sans", sans-serif;
}

.moto-text_system_11 {
	padding-left: 40px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    color: #ff9800;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.quick-intro {
	background-repeat: no-repeat;
	background-position: 0px center;
	vertical-align: middle;
    display: table-cell;
    height: 62px;
}

.moto-widget-text-editable {
	padding: 0px 0px;
}

.header-border-bt {
	border-bottom: 5px solid #ff9800;
	height: 62px;
}

.header-slash-line {
	position: absolute;
    top: -50px;
    right: 30px;
    width: 6px;
    height: 135px;
    background-color: #ff9800;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.header-slash-line2 {
	position: absolute;
    top: -50px;
    right: 19px;
    width: 6px;
    height: 135px;
    background-color: #ff9800;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}




