.panel {
    margin-bottom: 31px;
    background-color: #fff;
    border: 1px solid #646ba2;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
        color: #f96332;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #646ba2;
    border-color: #ddd;
    font: 400 28px/48px "Montserrat", sans-serif;
}

.panel-heading {
    padding: 0px 15px;
    border-bottom: 1px solid #646ba2;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-heading h3{
	    color: #f96332;
}

.panel-body {
    padding: 15px;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 5px;
    margin-bottom: -1px;
    background-color: #fff;
}

.product_cont {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px 20px 30px;
    background: rgba(39, 45, 51, 0.7);
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.product_cont_custom {
	top: 0px;
	bottom: unset;
	padding: 20px 5px 20px 30px;
}

.product_cont_custom p span{
	display: block;
}

.product_cont_custom p span b{
	color: rgb(255, 255, 102);
}

.anchor-contact {
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.anchor-contact:nth-last-child(1) {
    position: absolute;
    right: 60px;
}

.anchor-contact img{
	height: 40px;
}


.anchor-contact:hover {
    transform: rotate(-360deg);
}

.product {
	background-position: center;	
	background-size: cover;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;	
}

.search-input {
	    position: absolute;
    border-bottom: 1px solid black;
    width: 300px;
    right: 0;
    padding: 4px;
    background: wheat;
    z-index: 1;
}

.blink_me {
  animation: blinker 1s linear infinite;
   color: #f96332;
}

.wave_me {
  animation: animated_div 1s linear infinite;
}

@keyframes blinker {  
  25% { opacity: .0; color: #646ba2; }
  75% { opacity: .95; color: #646ba2; }
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(10deg);}
/* 50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;} */
70% {transform: rotate(-5deg);}
/* 100% {transform: rotate(-360deg);left:0px;} */
}

@-webkit-keyframes animated_div
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:500px;}
55% {-webkit-transform: rotate(0deg);left:500px;}
70% {-webkit-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:500px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}

.socialBtns {
    position: fixed;
    z-index: 11;
    margin-top: 145px;
}

.socialBtns ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.socialBtns ul li {
    margin: 0;
    padding: 0;
    height: 48px;
    width: 48px;
}

.socialBtns ul li a {
    display: block;
    line-height: normal;
    height: 48px;
    width: 48px;
    margin: 0;
}

.online-support {
    background-size: 58px 58px;
    background-repeat: no-repeat;
    background-position: top left;
}

.online-support h4 span{
	display: block;
	padding-left: 62px;
}

.ul-social li a:hover {
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.statistic-request {
    background-size: 23px 25px;
    background-repeat: no-repeat;
    background-position: 0px 7px;
}

.statistic-request span {
	display: block;
	padding: 6px 32px;
}

.stuck_container_custom {
	background-color: #004b80;
	background-color: rgb(55, 96, 145);
}

.stuck_container_custom h1, .stuck_container_custom h5, .stuck_container_custom li a {
	color: white;
}

.stuck_container_custom li a:hover {
    color: white;
}

.stuck_container_custom li.active a {
    color: #c1bfbf;
    font-weight: 600;
}

footer .icon-xs {
    margin-right: 6px;
}

.box .img {
	margin: 30px 0 40px;
    width: 100%;
    height: 365px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.box .img a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#olark-wrapper .olark-launch-button {
    background-color: #646ba2 !important;
}

